{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Consequences of CO2 emission</title>

        <!-- css sheets -->
        {% block stylesheets %}
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        {% endblock %}
</head>
<body>
{% block content %}
    <div class="container">
        <div class="page-title">Consequences</div>
        <div class="intro">
            What are the consequences of excessive CO<sub>2</sub> emission? How does it change our planet and in consequences our lives?
        </div>
        <div class="title">
            Icebergs melting
        </div>
        <div class="pictures">
            {% load static %}
            <img src="{% static "img/icebergs.jpg" %}">
        </div>
        <div class="title">
            Droughts
        </div>
        <div class="pictures">
            {% load static %}
            <img src="{% static "img/drought.jpg" %}">
        </div>
        <div class="title">
            Flood
        </div>
        <div class="pictures">
            {% load static %}
            <img src="{% static "img/flood.jpg" %}">
        </div>
        <div class="title">
            Loss of biodiversity
        </div>
        <div class="pictures">
            {% load static %}
            <img src="{% static "img/biodiversity.jpg" %}">
        </div>
        <div class="title">
            Bees extinction, and consequently less crops (plants not pollinated) implies problems with food production
        </div>
        <div class="pictures">
            {% load static %}
            <img src="{% static "img/bees.jpg" %}">
        </div>
        <div class="title">
            Forest fires
        </div>
        <div class="pictures">
            {% load static %}
            <img src="{% static "img/forest-fire.jpg" %}">
        </div>


    </div>
{% endblock %}
</body>
</html>