<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/only_map.css">
    <meta charset="utf-8">
    <title>Dataviz example with jQuery Mapael</title>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="../static/js/jquery.mapael.js" charset="utf-8"></script>
    <script src="https://rawgit.com/aterrien/jQuery-Knob/master/dist/jquery.knob.min.js" charset="utf-8"></script>
    <script src="../static/js/maps/world_countries.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/map.js"></script>
    <script type="text/javascript" src="../static/js/changes_map.js"></script>
</head>
<body>
<div class="container">
    <div class="world">
        <div class="map"></div>
        <div class="knobContainer">
            <input class="knob" data-width="80" data-height="80" data-min="1970" data-max="2016" data-cursor=true
                   data-fgColor="#454545" data-thickness=.45 value="2013" data-bgColor="#c7e8ff"/>
        </div>
        <div class="areaLegend"></div>
        <div class="plotLegend"></div>
    </div>
    <div style="clear: both;"></div>
</div>
</div>
</body>
</html>