<!doctype html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="nie"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
<!--



 * CSSMap plugin - Poland [ https://cssmapsplugin.com/get/poland ]
 * version: 5.6.0 - June 16th, 2020
 *
 * author: Łukasz Popardowski { Winston_Wolf }
 * license: https://cssmapsplugin.com/license
 * FAQ: https://cssmapsplugin.com/faq
 *
 * email: https://cssmapsplugin.com/contact
 * twitter: @CSSMapplugin




-->
  <link rel="stylesheet" type="text/css" href="../static/css/Poland_style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="../static/css/cssmap-poland/cssmap-poland.css" media="screen" />

  <title>Poland</title>
</head>
<body id="Poland">

  <header class="page-header">
   <div class="wrapper">
    <h1>Poland</h1>
       Number of days with exceeding the daily PM10 concentration

    <!-- MAIN MENU -->
    <nav id="main-menu" class="main-menu-list">
      <ul>
        <li><a href="#section-map" class="in-nav">Top</a></li>
          <li><a href="#section-info" class="in-nav">Informations</a></li>
          <li><a href="#section-info2" class="in-nav">What's PM10</a></li>
          <li><a href="../" class="in-nav">Global map</a></li>
          <!--
        <li><a href="#section-wielkopolska" class="in-nav">Greater Poland</a></li>
        <li><a href="#section-dolnoslaskie" class="in-nav">Lower Silesia</a></li>
        <li><a href="#section-slaskie" class="in-nav">Silesia</a></li>
        <li><a href="#section-kujawsko-pomorskie" class="in-nav">Kuyavian-Pomeranian</a></li>
        <li><a href="#section-lubelskie" class="in-nav">Lublin</a></li>
        <li><a href="#section-lubuskie" class="in-nav">Lubusz</a></li>
        <li><a href="#section-lodzkie" class="in-nav">Lodz</a></li>
        <li><a href="#section-malopolskie" class="in-nav">Lesser Poland</a></li>
        <li><a href="#section-mazowieckie" class="in-nav">Masovia</a></li>
        <li><a href="#section-opolskie" class="in-nav">Opole</a></li>
        <li><a href="#section-podkarpackie" class="in-nav">Subcarpathia</a></li>
        <li><a href="#section-podlaskie" class="in-nav">podlaskie</a></li>
        <li><a href="#section-pomorskie" class="in-nav">Pomerania</a></li>
        <li><a href="#section-swietokrzyskie" class="in-nav">Holy Cross Province</a></li>
        <li><a href="#section-warminskomazurskie" class="in-nav">Warmia-Masuria</a></li>
        <li><a href="#section-zachodniopomorskie" class="in-nav">West pomerania</a></li>-->






      </ul>
    </nav>
    <!-- END OF THE MAIN MENU -->

   </div><!-- END .wrapper -->
  </header>

  <article class="page-content">

    <!-- section-map -->
    <section id="section-map">
     <hr />

      <!-- MAP -->
      <div id="display-map" class="display-demo-map">
        <!-- CSSMap - Poland -->
<div id="map-poland">
 <ul class="poland">
       <li class="pl1"><a href="https://air.wroclaw.pios.gov.pl/">Lower Silesia - 45</a></li>
       <li class="pl15"><a href="https://powietrze.poznan.wios.gov.pl/">Greater Poland - 40</a></li>
       <li class="pl7"><a href="https://airly.org/pl/gdzie-jest-najczystsze-powietrze-w-warszawie/">Masovia - 40</a></li>
        <li class="pl11"><a href="     https://aqicn.org/city/gdansk/pl/">Pomerania - 18</a></li>
  <li class="pl2"><a href="#section-kujawsko-pomorskie">Kuyavian-Pomeranian - 40</a></li>
  <li class="pl3"><a href="https://aqicn.org/map/lublin/pl/">Lublin - 42</a></li>
  <li class="pl4"><a href="#section-lubuskie">Lubusz - 34</a></li>
  <li class="pl5"><a href="https://aqicn.org/map/lodz/pl/">Lodz - 58</a></li>
  <li class="pl6"><a href="https://aqicn.org/map/krakow/pl/">Lesser Poland - 76</a></li>
  <li class="pl8"><a href="https://aqicn.org/map/opole/pl/">Opole - 58</a></li>
  <li class="pl9"><a href="https://aqicn.org/map/rzeszow/pl/">Subcarpathia - 48</a></li>
  <li class="pl10"><a href="https://aqicn.org/map/bialystok/pl/">Podlaskie - 11</a></li>
  <li class="pl12"><a href="https://aqicn.org/map/katowice/pl/">Silesia - 72</a></li>
  <li class="pl13"><a href="https://aqicn.org/map/kielce/pl/">Holy Cross Province</a></li>
  <li class="pl14"><a href="https://aqicn.org/map/olsztyn/pl/">Warmia-Masuria - 22</a></li>
  <li class="pl16"><a href="https://aqicn.org/map/szczecin/pl/">West Pomerania - 20</a></li>
     <!--
  <li class="pl1"><a href="#section-dolnoslaskie">Lower Silesia - 45</a></li>
  <li class="pl2"><a href="#section-kujawsko-pomorskie">Kuyavian-Pomeranian - 40</a></li>
  <li class="pl3"><a href="#section-lubelskie">Lublin - 42</a></li>
  <li class="pl4"><a href="#section-lubuskie">Lubusz - 34</a></li>
  <li class="pl5"><a href="#section-lodzkie">Lodz - 58</a></li>
  <li class="pl6"><a href="#section-malopolskie">Lesser Poland - 76</a></li>
  <li class="pl7"><a href="#section-mazowieckie">Masovia - 40</a></li>
  <li class="pl8"><a href="#section-opolskie">Opole - 58</a></li>
  <li class="pl9"><a href="#section-podkarpackie">Subcarpathia - 48</a></li>
  <li class="pl10"><a href="#section-podlaskie">Podlaskie - 11</a></li>
  <li class="pl11"><a href="#section-pomorskie">Pomerania - 18</a></li>
  <li class="pl12"><a href="#section-slaskie">Silesia - 72</a></li>
  <li class="pl13"><a href="#section-swietokrzyskie">Holy Cross Province</a></li>
  <li class="pl14"><a href="#section-warminskomazurskie">Warmia-Masuria - 22</a></li>
  <li class="pl15"><a href="#section-wielkopolska">Greater Poland - 40</a></li>
  <li class="pl16"><a href="#section-zachodniopomorskie">West Pomerania - 20</a></li>
  -->
 </ul>
</div>
<!-- END OF THE CSSMap - Poland -->
        <div id="demo-form-fields" class="demo-form-fields">
          <ul>
            <li><label for="demo-select">Select dropdown</label><div class="select-field"><select id="demo-select" name="demo-select" class="hidden-field"><option value="0">-- Select location</option></select></div></li>
            <li><label for="demo-input">Input field</label><input type="text" id="demo-input" name="demo-input" class="hidden-field" /></li>
          </ul>
        </div>
<div id="demo-agents" class="demo-agents-list wrapper">
 <ul>
 
 </ul>
</div>
<div id="demo-markers">
 <ul class="cssmap-pins">
  <li class="cssmap-pin" data-cssmap-coords="280,395">

   <div class="cssmap-tooltip-content">
    Vivamus rutrum consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat.
   </div>
   <a href="#" class="cssmap-marker"><img src="includes/pin.png" width="20" height="25" alt="pin"/></a>

  </li>
  <li class="cssmap-pin" data-cssmap-coords="650,420">


   <a href="#" class="cssmap-marker"><img src="includes/pin.png" width="20" height="25" alt="pin"/></a>

  </li>
 </ul>
</div>
      </div>
      <!-- END OF THE MAP -->

     <div class="wrapper">
     </div><!-- END .wrapper -->
    </section>
    <!-- END OF THE SECTION MAP -->

    <!-- SECTION Wielkopolska
    <section id="section-wielkopolska" class="wrapper">
     <hr />
      <h4>Greater Poland</h4>
        40

    <!-- SECTION Dolnyslask
    <section id="section-dolnoslaskie" class="wrapper">
     <hr />
      <h4>Lower Silesia</h4>
        45
    <!-- SECTION Slask
    <section id="section-slaskie" class="wrapper">
     <hr />
      <h4>Silesia</h4>
        72
    <!-- SECTION kujawy
    <section id="section-kujawsko-pomorskie" class="wrapper">
     <hr />

      <h4>Kuyavian-Pomeranian</h4>
        40
    <!-- SECTION lubelskie
    <section id="section-lubelskie" class="wrapper">
     <hr />
      <h4>Lublin</h4>
        42
    <!-- SECTION lubuskie
    <section id="section-lubuskie" class="wrapper">
     <hr />
      <h4>Lubusz</h4>
        34

    <!-- SECTION lodzkie
    <section id="section-lodzkie" class="wrapper">
     <hr />
      <h4>lodz</h4>
        58
    <!-- SECTION malopolskie
    <section id="section-malopolskie" class="wrapper">
     <hr />
      <h4>Lesser Poland</h4>
        76
        <li>The worst air in Poland. It's better to avoid this place</li>
    <!-- SECTION mazowieckie
    <section id="section-mazowieckie" class="wrapper">
     <hr />
      <h4>Masovia</h4>
        40
    <!-- SECTION opolskie
    <section id="section-opolskie" class="wrapper">
     <hr />
      <h4>Opole</h4>
        58
    <!-- SECTION podkarpackie
    <section id="section-podkarpackie" class="wrapper">
     <hr />
      <h4>Subcarpathia</h4>
        48
        <li>Best air in Poland</li>

    <!-- SECTION podlaskie
    <section id="section-podlaskie" class="wrapper">
     <hr />
      <h4>Podlaskie</h4>
        11
    <!-- SECTION pomorskie
    <section id="section-pomorskie" class="wrapper">
     <hr />
      <h4>Pomerania</h4>
        18
    <!-- SECTION swietokrzyskie
    <section id="section-swietokrzyskie" class="wrapper">
     <hr />
      <h4>Holy Cross Province</h4>
        47
    <!-- SECTION warminskomazurskie
    <section id="section-warminskomazurskie" class="wrapper">
     <hr />
      <h4>Warmia-Masuria</h4>
        22
    <!-- SECTION zachodniopomorskie
    <section id="section-zachodniopomorskie" class="wrapper">
     <hr />
      <h4>West Pomerania</h4>
        20
    -->
        <!-- SECTION info -->
    <section id="section-info" class="wrapper">
     <hr />
      <h3>Informations</h3>
        All data was downloaded from the website of <a href="https://www.nik.gov.pl/aktualnosci/dbaj-o-zdrowie-nie-oddychaj.html"> the Supreme Audit Office </a>

        <section id="section-info2" class="wrapper">
     <hr />
      <h3>What's PM10</h3>
       PM10 is a mixture of airborne particles that do not exceed 10 micrograms in diameter. It is harmful due to the content of elements such as benzopyrene, furans, dioxins - in a word, carcinogenic heavy metals. PM10 is a particulate matter which, above all, has a negative effect on the respiratory system. It is he who is responsible for coughing attacks, wheezing, worsening of the condition of people with asthma or acute, violent bronchitis. PM10 also indirectly affects the rest of the body, including increasing the risk of a heart attack and stroke.<a href="https://www.nik.gov.pl/aktualnosci/dbaj-o-zdrowie-nie-oddychaj.html"> More info here </a>


   </div><!-- END .wrapper -->
      <!-- MAP SETTINGS -->

        <form id="map-settings-form" name="map-settings-form" action="#" method="post" novalidate>
          <fieldset id="options-basic">
            <ul>
              <li class="inline-label">
                <label for="map-set-size">Size (map width)</label>
                <div class="select-field">
                 <select id="map-set-size" name="map-set-size">
		<option value="960" selected>960 px</option>
                 </select>
                </div>
        </form>
      <!-- END OF THE MAP SETTINGS -->

  </footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cssmapsplugin.com/5/jquery.cssmap.min.js"></script>
<script type="text/javascript" src="../static/js/Poland_script.js"></script>
</body>
</html>
