<!doctype html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="nie"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
<!--



 * CSSMap plugin - Poland [ https://cssmapsplugin.com/get/poland ]
 * version: 5.6.0 - June 16th, 2020
 *
 * author: Łukasz Popardowski { Winston_Wolf }
 * license: https://cssmapsplugin.com/license
 * FAQ: https://cssmapsplugin.com/faq
 *
 * email: https://cssmapsplugin.com/contact
 * twitter: @CSSMapplugin




-->
  <link rel="stylesheet" type="text/css" href="css/Poland_style.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/cssmap-poland/cssmap-poland.css" media="screen" />

  <title>Poland</title>
</head>
<body id="Poland">

  <header class="page-header">
   <div class="wrapper">
    <h1>Poland</h1>

    <!-- MAIN MENU -->
    <nav id="main-menu" class="main-menu-list">
      <ul>
        <li><a href="#section-map" class="in-nav">Map</a></li>
        <li><a href="#section-wielkopolska" class="in-nav">Greater Poland</a></li>
        <li><a href="#section-dolnoslaskie" class="in-nav">Lower Silesia</a></li>
        <li><a href="#section-slaskie" class="in-nav">Silesia</a></li>
        <li><a href="#section-kujawsko-pomorskie" class="in-nav">Kuyavian-Pomeranian</a></li>
        <li><a href="#section-lubelskie" class="in-nav">Lublin</a></li>
        <li><a href="#section-lubuskie" class="in-nav">Lubusz</a></li>
        <li><a href="#section-lodzkie" class="in-nav">Lodz</a></li>
        <li><a href="#section-malopolskie" class="in-nav">Lesser Poland</a></li>
        <li><a href="#section-mazowieckie" class="in-nav">Masovia</a></li>
        <li><a href="#section-opolskie" class="in-nav">Opole</a></li>
        <li><a href="#section-podkarpackie" class="in-nav">Subcarpathia</a></li>
        <li><a href="#section-podlaskie" class="in-nav">podlaskie</a></li>
        <li><a href="#section-pomorskie" class="in-nav">Pomerania</a></li>
        <li><a href="#section-swietokrzyskie" class="in-nav">Holy Cross Province</a></li>
        <li><a href="#section-warminskomazurskie" class="in-nav">Warmia-Masuria</a></li>
        <li><a href="#section-zachodniopomorskie" class="in-nav">West pomerania</a></li>



      </ul>
    </nav>
    <!-- END OF THE MAIN MENU -->

   </div><!-- END .wrapper -->
  </header>

  <article class="page-content">

    <!-- section-map -->
    <section id="section-map">
     <hr />

      <!-- MAP -->
      <div id="display-map" class="display-demo-map">
        <!-- CSSMap - Poland -->
<div id="map-poland">
 <ul class="poland">
  <li class="pl1"><a href="#section-dolnoslaskie">Lower Silesia</a></li>
  <li class="pl2"><a href="#section-kujawsko-pomorskie">Kuyavian-Pomeranian</a></li>
  <li class="pl3"><a href="#section-lubelskie">Lublin</a></li>
  <li class="pl4"><a href="#section-lubuskie">Lubusz</a></li>
  <li class="pl5"><a href="#section-lodzkie">Lodz</a></li>
  <li class="pl6"><a href="#section-malopolskie">Lesser Poland</a></li>
  <li class="pl7"><a href="#section-mazowieckie">Masovia</a></li>
  <li class="pl8"><a href="#section-opolskie">Opole</a></li>
  <li class="pl9"><a href="#section-podkarpackie">Subcarpathia</a></li>
  <li class="pl10"><a href="#section-podlaskie">Podlaskie</a></li>
  <li class="pl11"><a href="#section-pomorskie">Pomerania</a></li>
  <li class="pl12"><a href="#section-slaskie">Silesia</a></li>
  <li class="pl13"><a href="#section-swietokrzyskie">Holy Cross Province</a></li>
  <li class="pl14"><a href="#section-warminskomazurskie">Warmia-Masuria</a></li>
  <li class="pl15"><a href="#section-wielkopolska">Greater Poland</a></li>
  <li class="pl16"><a href="#section-zachodniopomorskie">West Pomerania</a></li>
 </ul>
</div>
<!-- END OF THE CSSMap - Poland -->
        <div id="demo-form-fields" class="demo-form-fields">
          <ul>
            <li><label for="demo-select">Select dropdown</label><div class="select-field"><select id="demo-select" name="demo-select" class="hidden-field"><option value="0">-- Select location</option></select></div></li>
            <li><label for="demo-input">Input field</label><input type="text" id="demo-input" name="demo-input" class="hidden-field" /></li>
          </ul>
        </div>
<div id="demo-agents" class="demo-agents-list wrapper">
 <ul>
 
 </ul>
</div>
<div id="demo-markers">
 <ul class="cssmap-pins">
  <li class="cssmap-pin" data-cssmap-coords="280,395">

   <div class="cssmap-tooltip-content">
    Vivamus rutrum consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat.
   </div>
   <a href="#" class="cssmap-marker"><img src="includes/pin.png" width="20" height="25" alt="pin"/></a>

  </li>
  <li class="cssmap-pin" data-cssmap-coords="650,420">


   <a href="#" class="cssmap-marker"><img src="includes/pin.png" width="20" height="25" alt="pin"/></a>

  </li>
 </ul>
</div>
      </div>
      <!-- END OF THE MAP -->

     <div class="wrapper">
     </div><!-- END .wrapper -->
    </section>
    <!-- END OF THE SECTION MAP -->

    <!-- SECTION Wielkopolska -->
    <section id="section-wielkopolska" class="wrapper">
     <hr />
      <h2>Greater Poland</h2>
        <li>Check if there're no errors in the "Error console" of your browser.</li>

    <!-- SECTION Dolnyslask -->
    <section id="section-dolnoslaskie" class="wrapper">
     <hr />
      <h2>Lower Silesia</h2>

    <!-- SECTION Slask -->
    <section id="section-slaskie" class="wrapper">
     <hr />
      <h2>Silesia</h2>

    <!-- SECTION kujawy -->
    <section id="section-kujawsko-pomorskie" class="wrapper">
     <hr />
      <h2>Kuyavian-Pomeranian</h2>

    <!-- SECTION lubelskie -->
    <section id="section-lubelskie" class="wrapper">
     <hr />
      <h2>Lublin</h2>

    <!-- SECTION lubuskie -->
    <section id="section-lubuskie" class="wrapper">
     <hr />
      <h2>Lubusz</h2>


    <!-- SECTION lodzkie -->
    <section id="section-lodzkie" class="wrapper">
     <hr />
      <h2>lodz</h2>

    <!-- SECTION malopolskie -->
    <section id="section-malopolskie" class="wrapper">
     <hr />
      <h2>Lesser Poland</h2>

    <!-- SECTION mazowieckie -->
    <section id="section-mazowieckie" class="wrapper">
     <hr />
      <h2>Masovia</h2>

    <!-- SECTION opolskie -->
    <section id="section-opolskie" class="wrapper">
     <hr />
      <h2>Opole</h2>

    <!-- SECTION podkarpackie -->
    <section id="section-podkarpackie" class="wrapper">
     <hr />
      <h2>Subcarpathia</h2>


    <!-- SECTION podlaskie -->
    <section id="section-podlaskie" class="wrapper">
     <hr />
      <h2>Podlaskie</h2>

    <!-- SECTION pomorskie -->
    <section id="section-pomorskie" class="wrapper">
     <hr />
      <h2>Pomerania</h2>

    <!-- SECTION swietokrzyskie -->
    <section id="section-swietokrzyskie" class="wrapper">
     <hr />
      <h2>Holy Cross Province</h2>

    <!-- SECTION warminskomazurskie -->
    <section id="section-warminskomazurskie" class="wrapper">
     <hr />
      <h2>Warmia-Masuria</h2>

    <!-- SECTION zachodniopomorskie -->
    <section id="section-zachodniopomorskie" class="wrapper">
     <hr />
      <h2>West Pomerania</h2>


   </div><!-- END .wrapper -->
      <!-- MAP SETTINGS -->

        <form id="map-settings-form" name="map-settings-form" action="#" method="post" novalidate>
          <fieldset id="options-basic">
            <ul>
              <li class="inline-label">
                <label for="map-set-size">Size (map width)</label>
                <div class="select-field">
                 <select id="map-set-size" name="map-set-size">
		<option value="960" selected>960 px</option>
                 </select>
                </div>
        </form>
      <!-- END OF THE MAP SETTINGS -->

  </footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cssmapsplugin.com/5/jquery.cssmap.min.js"></script>
<script type="text/javascript" src="js/Poland_script.js"></script>
</body>
</html>
